<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"
    integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
    crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>update</title>
</head>
<body>
    <form id="form_register">
        <fieldset>
            <legend>Edit your Information</legend>
            ID: <input type="text" name="id" value="<%=data.id%>" /> <br>
            <span style="color: red; font-size: smaller;">id는 수정 불가</span> <br>
            PW: <input type="password" name="pw" value="<%=data.pw%>" /> <br>
            Name: <input type="text" name="name" value="<%=data.name%>" /> <br>
        </fieldset>
        <button class="edit-btn" type="button" onclick="edit();"> 편집</button>
        <button type="button" onclick="out();">회원 탈퇴</button>
        <a type="button" href="/">Home</a>
    </form>
    <script>
        let update_fieldset;
        function edit(){
            var form = document.getElementById("form_register");
            axios({
                method: 'patch',
                url: '/edit',
                data: {
                    id: form.id.value,
                    pw: form.pw.value,
                    name: form.name.value
                }
            })
            .then((response) => {
                update_fieldset.childeren[1].innerText = form.pw.value;
                update_fieldset.childeren[2].innerText = form.name.value;

                form.id.value = "";
                form.name.value = "";
                form.comment.value = "";
            })
        }
        function out(delete_id, element){
            var form = document.getElementById("form_register");
            axios({
                method: 'delete',
                url:'/delete',
                data: {id: delete_id}
            })
            .then((response) => {
                
            })
        }
    </script>
</body>
</html>