<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>폼 실습</title>
</head>
<body>
    <h2>폼 실습을 해봅시다</h2>
    <form action="/getForm" method="get" name="get">
        <h4>GET 요청</h4>
        <input type="text" placeholder="ID" name="id">
        <input type="text" placeholder="PW" name="pw">
        <button>submit</button>
    </form>
    <form action="/postForm" method="post" name="post">
        <h4>post 요청</h4>
        <input type="text" placeholder="ID" name="id">
        <input type="text" placeholder="PW" name="pw">
        <button type="submit">submit</button>
    </form>
    <script>
        console.log(document.forms["postform"])
    </script>
</body>

</html>