<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/getForm" method="get" name="getForm">
        <fieldset>
            <legend>채연이의 장점</legend>
            <input type="radio" name="good" value="smart" id="smart"><label for="smart">smart</label>
            <input type="radio" name="good" value="tall" id="tall"><label for="tall">tall</label>
            <input type="radio" name="good" value="kind" id="kind"><label for="kind">kind</label>
        </fieldset>

    </form>
</body>
</html>